.headerQuestion {
  display: flex;
  justify-content: space-between;
}
.headerLogo {
  width: 100%;
  height: 150px;

  .arrow {
    color: $color-primary;
    font-size: 20px;
    margin: 40px;
  }
  .logo {
    height: 150px;
    img {
      height: 300px;
      position: absolute;
      z-index: -1;
      top: -95px;
      right: 20px;
    }
    p {
      float: right;
      position: relative;
      top: 50px;
      right: 45px;
      color: $color-primary;
      font-size: 20px;
    }
  }
}
.headerActu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .logoImage {
    display: flex;
    margin: 10px;
    img {
      height: 70px;
    }
    p {
      margin: 0;
      height: 70px;
      line-height: 70px;
      color: $color-primary;
      font-size: 20px;
    }
  }
  .linkProfil {
    height: 70px;
    line-height: 70px;
    margin: 10px;
    a {
      margin: 0 20px;
      color: black;
      font-size: 18px;
    }
    .linkActu {
      transition: all 0.2s ease-in-out;
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: -8px;
        width: 0px;
        height: 3px;
        margin: 5px 0 0;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.5s;
        opacity: 0;
        background-color: $color-primary;
      }
      &:before {
        left: 50%;
      }
      &:hover:before,
      &:hover:after {
        width: 50%;
        opacity: 1;
      }
      &:after {
        right: 50%;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.headerSetting {
  display: flex;
  justify-content: space-between;
  .arrow {
    margin-left: 20px;
    margin-top: 45px;
    font-size: 20px;
    color: $color-primary;
  }
}
